[submodule "applications/ImageGen/stable-diffusion-webui"]
	path = applications/ImageGen/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
	branch = master
[submodule "applications/LiveCaptions/whisper_streaming"]
	path = applications/LiveCaptions/whisper_streaming
	url = https://github.com/efeslab/whisper_streaming.git
	branch = main
[submodule "inference_backends/llama.cpp"]
	path = inference_backends/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "applications/DeepResearch/smolagents"]
	path = applications/DeepResearch/smolagents
	url = https://github.com/rohith42/smolagents.git
	branch = os-llm
[submodule "inference_backends/vllm"]
	path = inference_backends/vllm
	url = git@github.com:rohith42/vllm.git
	branch = v0.19.1-branch
